body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #808080 !important;
}

.csw-app {
  height: 100vh;
}

.csw-login {
  position: absolute;
  top: 30%;
  left: 35%;
  min-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: aliceblue;
}

.csw-login:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.csw-login button {
  width: 300px;
  margin: 10px;
  border-radius: 4px !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 4px 2%;
}